#admin-students {
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    background-color: transparent;
}

#card-text {
    margin: auto;
    font-size: 0.5rem;
}

#inputGroup {
    background-color: transparent;
    height: 2rem;
    margin: auto;
}

@media only screen and (min-width:800px) {
    #admin-students {
        margin-top: 0.5%;
        margin-right: 8%;
        margin-left: 8%;
        background-color: transparent;
    }

    #card-text {
        display: flex;
        font-size: 1rem;
        width: 60%;
        justify-content: space-around;
        background-color: transparent;
    }

    #inputGroup {
        display: flex;
        width: 30%;
        justify-content: space-around;
        background-color: transparent;
        height: 4rem;
    }
}