.pd {
    background-color: palegoldenrod;
    color: black;
    
}

#container-pd{
    width: 90%;
    background-color: palegoldenrod;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#type-pd {
    color: dimgray;
    font-weight:400;
}

#title-pd {
    font-size:xx-large;
    font-weight: 500;
}

#price-pd {
    color: green;
    font-size: large;
    font-weight: 500;
}

#desc-title-pd {
    color: rgb(117, 86, 8);
    font-size:x-large;
    font-weight: 500;
    margin-top: 1rem;
}


#message-btn {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#contact-pd{
    color: rgb(117, 86, 8);
    background-color: transparent;
}

#inputform {
    margin-bottom: 2rem;

}

#date-pd{
    color: dimgray;
}

#inner-container-pd{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2px;
}

@media only screen and (min-width:1200px) {
    #container-pd {
        width: 60% !important
    }
}