#background {
    height: 100vh;
    background: linear-gradient(-45deg, #f35221, #f50606, #eeff00, #d6a315);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}