*{
    background-color: #111;
}
.square-box{
    height: 80vh;
    background: #111;
}

div h1 {
    font-size: 110px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    color: PaleGoldenRod;;
    outline: none;
    text-align: center;
  }
  
h1:hover {
font-variation-settings: "wght" 582; 
letter-spacing: 1px;
}

div p {
font-size: 1.7em;
line-height: 150%;
text-align: center;
/* font-family: 'Gambetta', serif; */
color: MintCream;
letter-spacing: .5px;
}

  @media only screen and (max-width:800px) {
    div h1 {
        font-size: 60px;
    }
}
