.priceinput{
    width: 150px;
    margin-left: 5px;
}

.phoneinput{
    width: 250px;
}

#product-type{
    width:250px;
}

.password{
    margin-top:-2em;
}

@media only screen and (min-width:800px) {
    .title-group {
        width: 40% !important
    }
}